.header-icon-custom {
  width: 20px;
  height: 20px;
  background-image: url('../../../assets/images/arrow.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.ui-state-hover .header-icon-custom {
  background-image: url('../../../assets/images/arrow.svg');
}

.ui-state-focus .header-icon-custom-active {
  background-image: url('../../../assets/images/arrow.svg');
  transform: rotate(180deg);
}

.ui-state-active .header-icon-custom-active {
  width: 20px;
  height: 20px;
  background-image: url('../../../assets/images/arrow.svg');
  transform: rotate(180deg);
  background-repeat: no-repeat;
  background-position: center;
}
