<div class="container">

  <ngb-carousel>
    <ng-template ngbSlide>
      <img src="assets/images/banner1.png" alt="banner1" class="d-block w-100">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/banner2.png" alt="banner2" class="d-block w-100">
    </ng-template>
    <ng-template ngbSlide>
      <img src="assets/images/banner3.png" alt="banner3" class="d-block w-100">
    </ng-template>
  </ngb-carousel>

  <div class="col-lg-8 mx-auto">
    <h2 class="text-center m-5 wow animate__animated animate__backInDown">Ответы на часто задаваемые
      вопросы</h2>

    <ngb-accordion #acc="ngbAccordion" activeIds="ngb-panel-0">

      <ngb-panel title="Собираете ли вы подарочные боксы?">
        <ng-template ngbPanelContent>
          Да, у нас есть такая услуга. Мы можем собрать подарочный бокс на любой вкус, объем и стоимость!
        </ng-template>
      </ngb-panel>

      <ngb-panel title="Сколько у вас разновидностей чая?">
        <ng-template ngbPanelContent>
          У нас 6 разновидностей чая
        </ng-template>
      </ngb-panel>

      <ngb-panel title="В какой срок осуществляется доставка?">
        <ng-template ngbPanelContent>
          Доставка осуществляется в пределах 3 рабочих дней
        </ng-template>
      </ngb-panel>

      <ngb-panel title="У вас обновляется ассортимент?">
        <ng-template ngbPanelContent>
          Да, ассортимент постоянно пополняется
        </ng-template>
      </ngb-panel>

      <ngb-panel title="Какого объема у вас пачки чая?">
        <ng-template ngbPanelContent>
          Одна пачка чая весит 100 гр
        </ng-template>
      </ngb-panel>

    </ngb-accordion>
  </div>

  <div class="modal" tabindex="-1" *ngIf="popupVisible" [class.show]="popupVisible" style="display: block;">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" (click)="closePopup()" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Посмотрите наши чайные коллекции</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" [routerLink]="'/catalogue'">Смотреть</button>
        </div>
      </div>
    </div>
  </div>
</div>


