<div class="container">

  <div id="image1-popup" class="white-popup mfp-hide">
    <img src="assets/images/img1.png" alt="img1">
    <h5 class="card-title fw-bold">Детокс чай лайм</h5>
    <p class="card-text">Великолепный чай внесет в вашу жизнь яркие краски и вкус расслабления</p>
  </div>

  <div id="image2-popup" class="white-popup mfp-hide">
    <img src="assets/images/img2.png" alt="img2">
    <h5 class="card-title fw-bold">Ягодный чай</h5>
    <p class="card-text">Нотки ягод позволят вам расслабиться и насладиться великолепием этого</p>
  </div>

  <div id="image3-popup" class="white-popup mfp-hide">
    <img src="assets/images/img3.png" alt="img3">
    <h5 class="card-title fw-bold">Цветочный чай</h5>
    <p class="card-text">Душистые цветы создают невероятный аромат и наполняют вас энергией</p>
  </div>

  <div id="image4-popup" class="white-popup mfp-hide">
    <img src="assets/images/img4.png" alt="img4">
    <h5 class="card-title fw-bold">Очищающий чай</h5>
    <p class="card-text">Бесподобный чай для получения утреннего заряда бодрости</p>
  </div>

  <div id="image5-popup" class="white-popup mfp-hide">
    <img src="assets/images/img5.png" alt="img5">
    <h5 class="card-title fw-bold">Кислый чай</h5>
    <p class="card-text">Кислый чай для настоящих ценителей кислинки во время чаепития</p>
  </div>

  <div id="image6-popup" class="white-popup mfp-hide">
    <img src="assets/images/img6.png" alt="img6">
    <h5 class="card-title fw-bold">Лимонная мята</h5>
    <p class="card-text">Смесь лимона с мятой сделает ваш день самым лучшим</p>
  </div>

</div>

<!--<div class="products">-->
<!--  <div class="container">-->
<!--    <div class="product-items">-->
<!--      <product *ngFor="let product of products" ></product>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

