.accordion .accordion-item {
  border: none;
  margin-bottom: 16px;
}
.accordion .accordion-header {
  border: none;
  padding: 0;
  margin-top: 16px;
}
.accordion .accordion-button {
  border: none;
  padding: 25px 23px;
  border-radius: 10px;
  background: #076BFF;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
}


